* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card1 img,
.card2 img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: 0.5s transform ease-in-out;
}

.card1 img:hover,
.card2 img:hover {
  transform: scale(1.01);
}
p,
h2 {
  padding: 0 10px;
}
.card1,
.card2,
.card1address {
  width: 400px;
  border: 1px solid rgb(202, 197, 197);

  border-radius: 3px;
  margin-right: 10px;
}
.card1address {
  margin-top: 15px;
}
.details {
  border: none;
  padding: 10px;
  margin-right: 8px;
  margin-left: 10px;
  background-color: rgb(64, 118, 118);
  color: whitesmoke;
  letter-spacing: 1.5px;
}

.details:hover {
  color: whitesmoke;
  background-color: rgba(26, 7, 7, 0.7);
  font-weight: 500;
  cursor: pointer;
}

.space {
  margin-bottom: 10px;
}
.seller {
  border: none;
  padding: 10px;
  margin-right: 5px;
  background-color: white;
  color: rgb(64, 118, 118);
  outline: 1px solid rgb(64, 118, 118);
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.seller:hover {
  color: whitesmoke;
  background-color: rgba(64, 118, 118, 0.5);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 0 3px rgba(26, 7, 7, 0.7);
}

.container {
  display: flex;
}
